body {
  width: 400px;
  height: 400px;
  background-color: floralwhite;
}

.Header {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: antiquewhite;
  margin: -8px;
  padding: 5px;
}

#Timer {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  font-weight: normal;
  color: navy;
}

#OptionsButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

#OptionsButtons > button {
  color: indianred;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

#TaskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.TimerLabelInput {
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  width: 20em;
}

.TimerDeleteButton {
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  color: indianred;
  cursor: pointer;
  font-weight: 700;
}

.OptionsTimerRow {
  margin: 0.25em;
}

h1 {
  color: black;
}

h2 {
  color: slategrey;
}

/* Popup container */
.Popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual Popup (appears on top) */
.Popup .PopupText {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.Popup .PopupText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the Popup container (hide and show the 
Popup) */
.Popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the Popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
