<div class="repo">
    <div id="page-wrap">
        <h3>Repo</h3>
        <div class="row">
          <div class="col-md-2">
            <img src="/p/astartup.png" class="company-logo" />
          </div>
          <div class="col-md-6">
            <h4 class="experience-title">Astartup Live-stream <a class="org-link" href=""><i class="fa fa-angle-down" id="drop-down-arrow"></i></a></h4>
            <h6 class="experience-info">An entrepreneur, inventor, hacker, and maker live-stream.</h6>
          </div>
        </div>
      </aside>
      <marquee id="repo-headline" scrollamount="0">Repo headline.</marquee>
    </div>
    <div class="repo-toolbar">
       <ul id="repo-toolbar-ul">
          <li id="repo-toolbar-li"><a href="" id="repo-toolbar-a"><i class="fa fa-angle-left" id="drop-down-arrow"></i></a></li>
          <li id="repo-toolbar-li"><a href="">Stream</a></li>
          <li id="repo-toolbar-li"><a href="">Projects</a></li>
          <li id="repo-toolbar-li"><a href="">Issues</a></li>
          <li id="repo-toolbar-li"><a href="">Chat</a></li>
          <li id="repo-toolbar-li"><a href=""><i class="fa fa-angle-right" id="drop-down-arrow"></i></a></li>
       </ul>
    </div>
</div>