<div class="qr-login">
  <h2>Login</h2>
  <a href="https://astartup.net/app"><img class="login-qr-code" src="/p/qr.astartup.net.png" /></a>
  <div style="width:100%; text-align:center;">
      <a href="/"><img id="os-icon" src="/theme/app-icon-android.png" /></a>
      <a href="/"><img id="os-icon" src="/theme/app-icon-ios.png" /></a>
      <a href="/"><img id="os-icon" src="/theme/app-icon-windows.png" /></a>
      <p>Download the Astartup app to start using I am You Language and the power of the pen!</p>
  </div>
</div>